.card-body .fc {
  margin-top: 5px !important;
}
.fc-button {
  background: #f8f9fa !important;
  background-image: none !important;
  border-bottom-color: #ddd !important;
  border-color: #ddd !important;
  color: #495057 !important;
}

.fc-button:hover, .fc-button:active, .fc-button.hover {
  background-color: #e9e9e9 !important;
}

.fc-header-title h2 {
  color: #666 !important;
  font-size: 15px !important;
  line-height: 1.6em !important;
  margin-left: 10px !important;
}

.fc-header-right {
  padding-right: 10px !important;
}

.fc-header-left {
  padding-left: 10px !important;
}

.fc-widget-header {
  background: #fafafa !important;
}

.fc-grid {
  border: 0 !important;
  width: 100% !important;
}

.fc-widget-header:first-of-type,
.fc-widget-content:first-of-type {
  border-left: 0 !important;
  border-right: 0 !important;
}

.fc-widget-header:last-of-type,
.fc-widget-content:last-of-type {
  border-right: 0 !important;
}

.fc-toolbar {
  margin: 0 !important;
  padding: 1rem !important;
}

.fc-day-number {
  font-size: 20px !important;
  font-weight: 300 !important;
  padding-right: 10px !important;
}

.fc-color-picker {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.fc-color-picker > li {
  float: left !important;
  font-size: 30px !important;
  line-height: 30px !important;
  margin-right: 5px !important;
}

.fc-color-picker > li .fa,
.fc-color-picker > li .fas,
.fc-color-picker > li .far,
.fc-color-picker > li .fab,
.fc-color-picker > li .glyphicon,
.fc-color-picker > li .ion {
  transition: -webkit-transform linear .3s !important;
  transition: transform linear .3s !important;
  transition: transform linear .3s, -webkit-transform linear .3s !important;
}

.fc-color-picker > li .fa:hover,
.fc-color-picker > li .fas:hover,
.fc-color-picker > li .far:hover,
.fc-color-picker > li .fab:hover,
.fc-color-picker > li .glyphicon:hover,
.fc-color-picker > li .ion:hover {
  -webkit-transform: rotate(30deg) !important;
  transform: rotate(30deg) !important;
}
