.uk-background-black {
  background-color: #444444;
}
.none-list {
  list-style: none;
  padding: 0;
}
.uk-button-accordion {
  background-color: #8d8ffd;
  color: #fff;
  border: 1px solid transparent;
}
.uk-button-accordion-li {
  padding: 5px;
  background-color: #8d8ffd;
  color: #fff !important;
  border: 1px solid transparent;
}
.uk-button-accordion-li:hover,
.uk-button-accordion:hover {
  background-color: #7073f5;
  color: #fff;
}

.uk-button-accordion-black {
  background-color: #292930;
  color: #fff;
  border: 1px solid transparent;
}
.uk-button-accordion-black:hover {
  background-color: #000000;
  color: #fff;
}
.uk-button-accordion-black:focus {
  color: white;
}

.uk-button-accordion:focus {
  color: white;
}
.i-remove {
  padding-left: 5px;
  color: rgb(255, 128, 128);
}
.i-remove:hover {
  color: red;
}
:not(.uk-offcanvas-flip).uk-offcanvas-container-animation {
  left: 0;
  padding-left: 240px;
  transition: padding 0.3s ease-out;
}
.uk-offcanvas-bar {
  width: 240px;
  left: -240px;
}
/* Legandas */
.legend {
  list-style: none;
}
.legend li {
  float: left;
  margin-right: 25px;
}
.legend span {
  border: 1px solid #ccc;
  padding-left: 20px;
  width: 12px;
  height: 12px;
  margin: 5px;
}
.legend .lg1 {
  background-color: #ff00ff;
}
.legend .lg2 {
  background-color: #00ffff;
}
.legend .lg3 {
  background-color: #0000ff;
}
.color-grey {
  background: #E6E6E6;
}