@import './base-theme.less';
.uk-spinner-loading {
  margin: 25% auto !important;
}
.uk-text-white {
  color: white !important;
}
.i-remove:hover{
    color: red;
    cursor: pointer;
}
.i-save:hover{
    color: green;
    cursor: pointer;
}
.uk-background-danger {
  background-color:  #f57f6c;
}
.uk-background-success {
  background-color: rgb(46, 133, 35);
}
.uk-background-light {
  background-color: #C6C6C6;
  color: white !important;
}
.uk-background-black {
  background-color: #444444;
}
.uk-section,
.uk-container {
  padding-bottom: 0;
  padding-top: 0;
}
.spinner-loading {
  margin-left: 5px;
}
.btn-loading {
  padding-right: 20px; 
}
.form-group-error {
  border: 1px solid #f57f6c;
  animation: shake-in .5s;
}
.error-message {
  color: #f57f6c;
  font-size: 13px;
  margin: 5px 0px 0px 5px;
}.bounce-transition {
  display: inline-block; /* otherwise scale animation won't work */
}
@keyframes shake-in {  
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
